<ion-view title="Edit / Create" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="firstName">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="middleName">
                <span class="input-label">Middle Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="lastName">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="nick">
                <span class="input-label">Nick</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="address">
                <span class="input-label">Address</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="birthday">
                <span class="input-label">Birthday</span>
                <input type="date" placeholder="">
            </label>
            <ion-radio name="gender">Male</ion-radio>
            <ion-radio name="gender">Female</ion-radio>
        </form>
        <ion-list>
            <ion-item class="item-divider">List Divider</ion-item>
            <label class="item item-select" name="phoneType">
                <span class="input-label">Type</span>
                <select>
                    <option>MOB</option>
                    <option>HOME</option>
                </select>
            </label>
            <label class="item item-input" name="number">
                <span class="input-label">Number</span>
                <input type="tel" placeholder="">
            </label>
            <ion-item class="item-divider">Item</ion-item>
            <label class="item item-select" name="emailType">
                <span class="input-label">Type</span>
                <select>
                    <option>MOB</option>
                    <option>HOME</option>
                </select>
            </label>
            <label class="item item-input" name="email">
                <span class="input-label">e-mail</span>
                <input type="email" placeholder="">
            </label>
        </ion-list>
    </ion-content>
</ion-view>