<section id="Book" class="content" ng-class="{detailsOpen:bookView.detailsOpen}">
	#{{bookView.activeId}}#
	<ul id="Result" class="list-unstyled">
		<li class="bookItem" item-data="item" to-open="bookView.open" ng-repeat="item in bookView.db | filter:stage.query"></li>
	</ul>
	<section id="Details">
		<div ng-view></div>
	</section>
</section>


<script id="bookItem.tpl.html" type="text/ng-template">
	<li class="item" ng-click="toOpen(itemData)">
		<i class="fa fa-star"></i>
		<div>
			<strong>{{names}}</strong>
			<em>{{contacts}}</em>
		</div>
	</li>
</script>