<h2 class="title">
	{{vm.title}}
	<span class="actions">
		<a class="button-error pure-button fa fa-times" ng-click="vm.close()"></a>
	</span>
</h2>

<article id="Contact" class="content">

	<form class="pure-form" name="contactForm" novalidate>
		<fieldset id="PersonalInfo" class="pure-form-aligned">
			<legend>Info</legend>
			<div class="pure-control-group">
				<label for="firstname">First name</label>
				<input id="firstname" type="text" placeholder="First name" name="firstName" ng-model="vm.contact.firstName" ng-pattern="/[a-zA-Z0-9]{3,}/">
			</div>

			<div class="pure-control-group">
				<label for="middlename">Middle name</label>
				<input id="middlename" type="text" placeholder="Middle name" name="middleName" ng-model="vm.contact.middleName" ng-pattern="/[a-zA-Z0-9]{3,}/">
			</div>

			<div class="pure-control-group">
				<label for="lastname">Last name</label>
				<input id="lastname" type="text" placeholder="Last name" name="lastName" ng-model="vm.contact.lastName" ng-pattern="/[a-zA-Z0-9]{3,}/">
			</div>

			<div class="pure-control-group">
				<label for="nick">Nick</label>
				<input id="nick" type="text" placeholder="Nick" name="nick" ng-model="vm.contact.nick" ng-pattern="/[a-zA-Z0-9]{3,}/">
			</div>

			<div class="pure-control-group">
				<label for="address">Address</label>
				<input id="address" type="text" placeholder="Address">
			</div>

			<div class="pure-control-group">
				<label for="birthday">Birthday</label>
				<input id="birthday" type="date" placeholder="Birthday">
			</div>
		</fieldset>


		<fieldset class="pure-group">
			<legend>Phones</legend>
			<div auto-add collection="vm.contact.phones">
				<select class="fa" ng-model="$parent.item[1]" name="type">
					<option value="fix">&#xf095;</option>
					<option value="mob">&#xf10b;</option>
					<option value="home">&#xf015;</option>
					<option value="work">&#xf1ad;</option>
					<option value="fax">&#xf1ac;</option>
				</select>
				<input type="text" required name="value" ng-pattern="/[0-9]{3,}/" ng-model="$parent.item[0]" ng-model-options="{updateOn:'blur'}">
			</div>
		</fieldset>

		<fieldset class="pure-group">
			<legend>Emails</legend>
			<div auto-add collection="vm.contact.emails">
				<select class="fa" ng-model="$parent.item[1]" name="type">
					<option value="fix">&#xf095;</option>
					<option value="mob">&#xf10b;</option>
					<option value="home">&#xf015;</option>
					<option value="work">&#xf1ad;</option>
					<option value="fax">&#xf1ac;</option>
				</select>
				<input type="text" required name="value" ng-pattern="/[0-9]{3,}/" ng-model="$parent.item[0]" ng-model-options="{updateOn:'blur'}">
			</div>
		</fieldset>

		<div class="pure-controls">
			<button type="submit" class="pure-button pure-input-1-2 pure-button-primary">{{vm.submit}}</button>
		</div>
	</form>
	{{vm.contact | json}}
</article>




<script id="autoAdd.tpl.html" type="text/ng-template">
	<div class="pure-control-group" ng-repeat="item in collection" ng-form="from">
		<div type-field="item" type-field-callback="empty"><div ng-transclude></div></div>
	</div>
</script>


<script id="typeField.tpl.html" type="text/ng-template">
	<div>
		<div ng-transclude></div>
	</div>
</script>