/* Dark */
.thmDark ::-webkit-scrollbar {background-color:#0D0D0E;}
.thmDark ::-webkit-scrollbar-thumb {background-color:#7D7D7D;}
.thmDark ::-webkit-scrollbar-thumb:hover {background-color:#8D8D8D;}

.thmDark {background-color:#202024;color:#7D7D7D}

.thmDark .btn,
.thmDark .btn-block {
	border:1px solid #0D0D0E;
	border-top-color:#2E2E30;
	border-left-color:#2E2E30;
	background-color:#202024;
	border-radius:0;}
.thmDark .btn:hover, .thmDark .btn-block:hover,
.thmDark .btn:active, .thmDark .btn-block:active {background-color:#2E2E34}

.thmDark #Header,
.thmDark #SideMenu,
.thmDark #Main,
.thmDark #Details {
	border:1px solid #0D0D0E;
	border-top-color:#2E2E30;
	border-left-color:#2E2E30;
	background-color:#202024}
.thmDark #Search input[type="text"] {
	color:#5D5D5D;
	border:1px solid #0D0D0E;
	border-right-color:#2E2E30;
	border-bottom:none;
	background-color:#000}
.thmDark #Result > li {
	border:1px solid #0D0D0E;
	border-top-color:#2E2E30;
	border-left-color:#2E2E30;}
.thmDark #Result > li.active {background-color:#2E2E34}
/* *************************************************************************************** */



/* Silky */
.thmSilky ::-webkit-scrollbar {background-color:#999;}
.thmSilky ::-webkit-scrollbar-thumb {background-color:#047DEA;}
.thmSilky ::-webkit-scrollbar-thumb:hover {background-color:#1978C8;}

.thmSilky {
	background:url(Silky/wood_wall.jpg) no-repeat center;
	background-size:cover;}

.thmSilky #Header {
	z-index:1;
	box-shadow:0 5px 15px rgba(0,0,0,.5);
	background: url(Silky/header.png) repeat-x;}
.thmSilky #Logo {
	float:left;
	border:none;}
.thmSilky #Search {margin-left:62px}
.thmSilky.sideMenuOpen #Search {margin-left:210px}
.thmSilky #Search input,
.thmSilky #Search button {color:#666;}
.thmSilky #Search input {
	border:1px solid #CCC;
	box-shadow:inset 0 1px 3px #DDD;}
.thmSilky #Search button {
	border:none;
	background:none;}
.thmSilky #AppOptions .pure-button {
	margin:5px;
	width:40px;
	height:40px;
	border:none;
	color:#AFAFAF;
	font-size:25px;
	line-height:40px;
	background:none;
	text-shadow:none;}
.thmSilky .blue-line {
	height:26px;
	background:#047DEA url(Silky/blue_line.jpg) repeat-x;}

.thmSilky #SideMenu {
	width:62px;
	border:none;
	height:auto;
	bottom:inherit;
	overflow:visible;
	background:none;}
.thmSilky.sideMenuOpen #SideMenu {width:200px}
.thmSilky.sideMenuOpen #SideMenu .item .text {}
.thmSilky #SideMenu:after {
	content:'';
	left:0;
	z-index:1;
	bottom:-92px;
	width:70px;
	height:92px;
	position:absolute;
	background:url(Silky/sidemenu_bg_bottom.png) no-repeat;}
.thmSilky #SideMenu .item {
	color:#2A2A2A;
	border-right:2px solid #BABABA;
	background:url(Silky/sidemenu_bg.png);}
.thmSilky #SideMenu li:last-child .item {border-bottom:2px solid #BABABA;}
.thmSilky #SideMenu .item .icon {
	z-index:2;
	width:70px;
	color:gold;
	padding-right:8px;
	text-shadow:0 0 5px darkred;
	background:url(Silky/sidemenu_bg_icon.png) no-repeat 0 0;}
.thmSilky #SideMenu .item .text {
	right:0;
	z-index:1;
	width:100%;
	height:50px;
	overflow:hidden;
	position:absolute;
	padding:0 5px 0 70px;
	border-bottom:1px dotted #BABABA;}
.thmSilky #SideMenu .item:hover .icon {color:#FFF}
.thmSilky #SideMenu .item:hover .text {}
.thmSilky #SideMenu .item.active {
	z-index:3;
	color:#FFF;
	box-shadow:0 0 10px rgba(0,0,0,1);
	background:url(Silky/sidemenu_bg_active.png);}
.thmSilky #SideMenu .item.active:after {
	top:0;
	content:'';
	right:-12px;
	width:12px;
	height:50px;
	position:absolute;
	background:url(Silky/sidemenu_bg_active.png) no-repeat right top;}
.thmSilky #SideMenu .item.active .icon {
	color:wheat;
	background:none;
	text-shadow:0 0 5px gold;}
.thmSilky #SideMenu .item.active .text {
	border:none;
	padding-right:0;
	font-weight:bold;
	text-shadow:1px 1px 1px black;}
.thmSilky #CollapseMenuButton {
	z-index:1;
	width:70px;
	color:gold;
	padding-right:8px;
	text-shadow:0 0 5px darkred;
	background:url(Silky/sidemenu_bg_icon.png) no-repeat left bottom;}
.thmSilky #CollapseMenuButton:hover {color:#FFF}

.thmSilky #Main {left:62px}
.thmSilky.sideMenuOpen #Main {left:200px}
.thmSilky #Main > [ui-view] {padding:20px}
.thmSilky .content {
	color:#2A2A2A;
	overflow:hidden;
	border-radius:5px;
	padding:0 20px 20px 20px;
	box-shadow:0 0 10px black;
	background:url(Silky/paper.png);}
.thmSilky .content .title {
	color:#444;
	height:50px;
	font-size:16px;
	font-weight:bold;
	text-shadow:-1px -1px 0 #CCC;
	padding:15px 20px;
	margin:0 -20px 20px -20px;
	border-bottom:1px solid #BCBCBC;
	box-shadow:0 0 5px rgba(0,0,0,.3);
	/*background:url(Silky/blue_line.jpg);*/
	background-image:-webkit-linear-gradient(top, #FDFDFD, #E2E2E2);
	background-image:        linear-gradient(top, #FDFDFD, #E2E2E2);}
.thmSilky #Book {
	padding:0;
	border-radius:0;
	box-shadow:none;
	background:none}

.thmSilky #Result .bookItem {
	width:31.333%;
	margin:5px 1%;
	background:url(Silky/item.png);
	background-size:100% 100%;}

.thmSilky #Details {
	border-left:1px solid #999;
	background:url(Silky/paper.png)}
.thmSilky #Details .avatar {
	padding:20px;
	border-bottom:1px solid #DDD;
	background-color:rgba(255,255,255,.6);}
.thmSilky #Details .avatar figcaption {padding-top:15px}
.thmSilky #Details .avatar header {font-size:1.5em}
.thmSilky #Details .avatar small {font-size:80%}
.thmSilky #Details .avatar img {
	border-radius:5px;
	border:1px solid #BBB;
	background-color:rgba(200,200,200,.3);}
.thmSilky #Details .content {
	margin:20px 0;
	background:none;
	box-shadow:none}
.thmSilky #Details .content label {text-align:right;padding-right:10px}
.thmSilky #Details .title,
.thmSilky #Details .subTitle {
	font-weight:bold;
	text-transform:uppercase;
	background-image:-webkit-linear-gradient(top, #FDFDFD, #E2E2E2);
	background-image:        linear-gradient(top, #FDFDFD, #E2E2E2);}
.thmSilky #Details .subTitle {
	color:#FFF;
	height:26px;
	padding:5px 10px;
	margin:15px -20px 5px -20px;
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	background:url(Silky/blue_line.jpg) repeat-x 0 0;}
.thmSilky #Details .title {height:40px;}
.thmSilky #Details .title .actions {margin:-15px -20px 0 0;}
.thmSilky #Details .title .actions .pure-button {
	margin:0;
	float:left;
	padding:0;
	border:none;
	border-radius:0;
	width:50px;
	line-height:39px;
	font-size:18px;
	color:#444;
	text-shadow:none;
	border-left:1px solid #BCBCBC;
	background-color:#EEE;
	background-image:-webkit-linear-gradient(top, #FDFDFD, #E2E2E2);
	background-image:        linear-gradient(top, #FDFDFD, #E2E2E2);
}
.thmSilky #Details .title .actions .button-error {
	color:#FFF;
	background-color:#DF2831;
	background-image:-webkit-linear-gradient(top, #EB8186, #930200);
	background-image:        linear-gradient(top, #EB8186, #930200);}

.thmSilky .pure-button {
	color:#FFF;
	font-weight:bold;
	border-radius:4px;
	border:1px solid #1978C8;
	text-transform:uppercase;
	background-color:#59B4ED;
	background-image:-webkit-linear-gradient(top, #59B4ED, #327ADC);
	background-image:        linear-gradient(top, #59B4ED, #327ADC);}
/* *************************************************************************************** */



/* Flat */
.thmFlat ::-webkit-scrollbar {background-color:#3D4F63;}
.thmFlat ::-webkit-scrollbar-thumb {background-color:#AE4736;}
.thmFlat ::-webkit-scrollbar-thumb:hover {background-color:#FE7565;}
.thmFlat {background-color:#E5E5E5;color:#FFF}
.thmFlat #Header {background-color:#C1C1C1}
.thmFlat #Logo {color:#FFF;background-color:#ED6454}
.thmFlat #Logo .text {
	color:#FFF;
	display:block;
	margin-left:50px;
	text-align:center;
	background-color:#46ABE3;}
.thmFlat #AppOptions {}
.thmFlat #Search {padding-left:5px}
.thmFlat.sideMenuOpen #Search {margin-left:200px;}
.thmFlat #Search input {
	color:#AAA;
	border:1px solid #C1C1C1;
	background-color:#E5E5E5;}
.thmFlat #Search button {
	border:none;
	background:none;}

.thmFlat #SideMenu {
	border:none;
	background-color:#2C3E52}
.thmFlat #SideMenu .item {color:#E5E5E5}
.thmFlat #SideMenu .item .icon {background-color:#3D4F63}
.thmFlat #SideMenu .item .text {background-color:#ED6454}
.thmFlat #SideMenu .item:hover .icon {background-color:#4E5F74}
.thmFlat #SideMenu .item:hover .text {background-color:#FE7565}
.thmFlat #SideMenu .item.active .icon {background-color:#46ABE3}
.thmFlat #SideMenu .item.active .text {background-color:#AE4736}
.thmFlat #CollapseMenuButton {color:#46ABE3;}

.thmFlat #Main {}
.thmFlat .content {
	padding:20px;
	color:#2A2A2A;}
.thmFlat .content .title {
	color:#FFF;
	margin:0 0 20px 0;
	padding:5px 10px;
	text-transform:uppercase;
	background-color:#46ABE3}
.thmFlat #Book {padding:0}
.thmFlat #Result {padding:4px}
.thmFlat #Result .item {
	margin:0;
	width:33.333%;
	border:2px solid #E5E5E5;
	background-color:#C1C1C1}
.thmFlat #Result .item:hover {background-color:#CCC}

.thmFlat #Details {background-color:#C1C1C1}
.thmFlat #Details .content {margin:10px 20px}
.thmFlat #Details .title,
.thmFlat #Details .subTitle {
	color:#FFF;
	padding:5px 10px;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#3D4F63;}
.thmFlat #Details .title {
	padding:0;
	height:40px;
	font-size:18px;}
.thmFlat #Details .title .actions {}
.thmFlat #Details .title .actions .pure-button {
	padding:0;
	color:#FFF;
	width:40px;
	height:40px;
	font-size:16px;
	line-height:40px;
	margin-left:1px;
	background-color:#46ABE3;}
.thmFlat #Details .title .actions .button-error {
	color:#FFF;
	background-color:#ED6454}
.thmFlat #Details .subTitle {margin:15px -20px 5px -20px;}

.thmFlat form {}

.input,.textarea {
	color:#AAA;
	border:1px solid #C1C1C1;
	background-color:#E5E5E5;
}
.pure-button {
	color:#FFF;
	border:none;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow:0 0 2px black;
	background-color:#3D4F63}