<h2 class="title">
	<div class="actions">
		<a class="pure-button fa fa-edit" ui-sref="search.edit({id:contact.id})"></a>
		<a class="pure-button fa fa-trash-o" ui-sref="search" href="#/"></a>
		<a class="button-error pure-button fa fa-times" ui-sref="search" href="#/"></a>
	</div>
</h2>
<!--<figure class="avatar">
	<img src="assets/avatar100.png" alt=""/>
	<figcaption>
		<header>{{contact.firstName}} {{contact.lastName}}</header>
		<small>ID: {{bookView.activeId}}</small>
	</figcaption>
</figure>-->

<article class="content">
	<div class="pure-g">
		<label class="pure-u-1-3">First</label>
		<div class="pure-u-2-3"> {{contact.firstName}} </div>
		<label class="pure-u-1-3">Middle</label>
		<div class="pure-u-2-3"> {{contact.middleName}} </div>
		<label class="pure-u-1-3">Last</label>
		<div class="pure-u-2-3"> {{contact.lastName}} </div>
		<label class="pure-u-1-3">Nick</label>
		<div class="pure-u-2-3"> {{contact.nick}} </div>
		<label class="pure-u-1-3">Address</label>
		<div class="pure-u-2-3"> {{contact.address}} </div>
		<label class="pure-u-1-3">Birthday</label>
		<div class="pure-u-2-3"> {{contact.birthday}} </div>
	</div>

	<h4 class="subTitle" ng-show="contact.phones">Phones</h4>
	<div class="pure-g" ng-repeat="phone in contact.phones">
		<div class="pure-u-3-4">{{phone[0]}}</div>
		<div class="pure-u-1-4">{{phone[1]}}</div>
	</div>

	<h4 class="subTitle" ng-show="contact.emails">e-mails</h4>
	<div class="pure-g" ng-repeat="email in contact.emails">
		<div class="pure-u-3-4">{{email[0]}}</div>
		<div class="pure-u-1-4">{{email[1]}}</div>
	</div>

	<h4 class="subTitle" ng-show="contact.links">Links</h4>
	<div class="pure-g" ng-repeat="link in contact.links">
		<div class="pure-u-3-4">{{link[0]}}</div>
		<div class="pure-u-1-4">{{link[1]}}</div>
	</div>

	<h4 class="subTitle" ng-show="contact.ims">IM</h4>
	<div class="pure-g" ng-repeat="im in contact.ims">
		<div class="pure-u-3-4">{{im[0]}}</div>
		<div class="pure-u-1-4">{{im[1]}}</div>
	</div>
</article>