<div id="Settings" class="content">
	<h2 class="title">Settings</h2>
	<form class="pure-form">
		<fieldset class="pure-form-aligned">
			<div class="pure-control-group">
				<label>Chose theme:</label>
				<select name="theme" data-ng-model="stage.thm">
					<option value="thmDark">Dark theme</option>
					<option value="thmSilky">Silky theme</option>
					<option value="thmFlat">Flat theme</option>
				</select>
			</div>

			<div class="pure-controls">
				<label class="pure-checkbox">
					<input type="checkbox" ng-model="stage.sideMenuOpen"/> Open side menu
				</label>
			</div>
		</fieldset>

		<fieldset class="pure-form pure-form-stacked">
			<label>Current:</label>
			<textarea class="pure-input-1" ng-model="vm.db" readonly></textarea>
			<label>New:</label>
			<textarea class="pure-input-1" ng-model="vm.newdb"></textarea>
			<button ng-click="vm.save()" class="pure-button pure-button-primary">SET</button>
		</fieldset>
	</form>

	<div class="blue-line"></div>

	<form class="pure-form">
		<fieldset>
			<legend>A compact inline form</legend>

			<input type="email" placeholder="Email">
			<input type="password" placeholder="Password">

			<label for="remember">
				<input id="remember" type="checkbox"> Remember me
			</label>

			<button type="submit" class="pure-button pure-button-primary">Sign in</button>
		</fieldset>
	</form>

	<form class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label for="name">Username</label>
				<input id="name" type="text" placeholder="Username">
			</div>

			<div class="pure-control-group">
				<label for="password">Password</label>
				<input id="password" type="password" placeholder="Password">
			</div>

			<div class="pure-control-group">
				<label for="email">Email Address</label>
				<input id="email" type="email" placeholder="Email Address">
			</div>

			<div class="pure-control-group">
				<label for="foo">Supercalifragilistic Label</label>
				<input id="foo" type="text" placeholder="Enter something here...">
			</div>

			<div class="pure-controls">
				<label for="cb" class="pure-checkbox">
					<input id="cb" type="checkbox"> I've read the terms and conditions
				</label>

				<button type="submit" class="pure-button pure-button-primary">Submit</button>
			</div>
		</fieldset>
	</form>

	<form class="pure-form">
		<label for="option-one" class="pure-checkbox">
			<input id="option-one" type="checkbox" value="">
			Here's option one.
		</label>
		<label for="option-two" class="pure-checkbox">
			<input id="option-two" type="checkbox" value="">
			Here's option one.
		</label>
		<label for="option-three" class="pure-checkbox">
			<input id="option-three" type="checkbox" value="">
			Here's option one.
		</label>

		<label for="option-fore" class="pure-radio">
			<input id="option-fore" type="radio" name="optionsRadios" value="option1" checked>
			Here's a radio button. You can choose this one..
		</label>

		<label for="option-five" class="pure-radio">
			<input id="option-five" type="radio" name="optionsRadios" value="option2">
			..Or this one!
		</label>
	</form>
</div>